<!DOCTYPE html>
<html lang = "en">

<head>
	<title>Mikes Turtle Site</title>
### Links for css assets from tutorial, replace with our designs when needed
	<link href ="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href ="http://getbootstrap.com/examples/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pill pull-right">
					<li role="presentation" class ="active"><a href="#">Home</a>
					</li>
					<li role="presentation"><a href="#">Sign In</a>
					</li>
					<li role="presentation"><a href="showSignUp">Sign Up</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Mikes Turtle Site</h3>
		</div>

		<div class="jumbotron">
			<h1>Turtles</h1>
			<p class="lead"></p>
			<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Turtles</a>
			</p>
		</div>

		<div class="row marketing">
			<div class="col-lg-6">
				<h4>Turtles listing</h4>
				<p> This is just the very first test version of Mikes requested turtle site</p>

				<h4>Turtles listing</h4>
				<p> User can select from drop down 2 or more turtles of different genus</p>

				<h4>Turtles listing</h4>
				<p> After selecting, users hit the calculate button and are showed the chances they get a given breed</p>

			</div>

			<div class ="col-lg-6">
				<h4> Turtles listing</h4>
				<p> Need pictured of turtles and all of names and probability values </p>
				
				<h4> Turtles listing </h4>
				<p> Site will have home page, advertising contact page, and a contactu us page unless Mike requests more </p>

				<h4> Turtles listing> </h4>
				<p> After this version, all specifications will be found in readme or some other form of documentation </p>

			</div>
		</div>

		<footer class="footer">
			<p>&copy; Mikes Turtle Shop 2018</p>
		</footer>

	</div>
</body>

</html>


